
@{
    ViewBag.Title = "Joeys on the road";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/favicon.png" type="image/png">
</head>
<body>
    <div>
        <img src="~/Content/images/certificate.jpg" />
    </div>
    <div>
        congratulation you have completed this section.
    </div>
</body>
</html>