@model List<iteration2.Models.Question>
@{
    ViewBag.Title = "Joeys on the road";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/customCSS/Challenge.css" rel="stylesheet" />

<div id="ques" class="container">
    <div class="title">@ViewBag.factor_desc</div>
    <div id="question_desc" class="question"></div>
    <label class="option" onclick="clickChoice1()"><span id="option1">Default choice 1 description</span></label>
    <label class="option" onclick="clickChoice2()"><span id="option2">Default choice 2 description</span></label>
    <label class="option" onclick="clickChoice3()"><span id="option3">Default choice 3 description</span></label>
    <div class="challengeProgress" id="progress">Your Challenge Progress</div>
</div>

<div id="result" class="explanation">
    <h2>Oops!</h2>
    <p id="explanation" style="font-size:20px;">
        This is the result div. only show when incorrect answer.
    </p>
    <button class="explanation-btn" onclick="continueChallenge()">
        Got it!
    </button>
</div>

<div id="finish" style="display:none; width:100%; height:100%; background-color:black;">
    <div style="color:white;font-size:20px;">
        Congratulation! You have finished this Challenge! 
    </div>
    <div id="autoRedirect" style="color:white">
        We will drive you back to Challenges in <span id="countDown" style="color:white;"></span> seconds.
    </div>
    <br />
    <div style="color:white">
        If our drivers do not come in time, here's a chance for you to drive by yourself. Don't worry, we guarantee it will be safe.
    </div>
    <p style="color:black; font-size:20px;">
        <button type="button" onclick="location.href='@Url.Action("Factors", "Home")'"> Take the key, start the engine, drive back! </button>
    </p>
</div>


<script>
    var factor = "@ViewBag.factor";
    var data = @Html.Raw(Json.Encode(Model));
    console.log(data);
</script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="~/Scripts/customJS/Challenge.js"></script>