<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Champion - about us</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/favicon.png" type="image/png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/customCSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/customCSS/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/customCSS/style.css" rel="stylesheet" />
    <link href="~/Content/customCSS/font-awesome.css" rel="stylesheet" />
    <!--[if lt IE 8]>
        <div><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
    <style type="text/css">

        .circle {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            position: absolute;
            border-radius: 15px;
        }

        .fasize img:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }

        @@keyframes shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }

            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }

            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }

            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }

            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }

            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }

            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }

            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }

            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }

            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }

            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }
    </style>
</head>
<body class="main">

    <!-- START MOUNTAIN EFFECT -->
    <div class="mountainbg">
        <div class="mountaincover">
            <div class="mountain">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="cloud"></div>
            <div class="hot-air-balloon"><img src="~/Content/images/gallery/bicycle.png" alt=""></div>
        </div>
    </div>
    <!-- END MOUNTAIN EFFECT -->
    <div id="inner">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="box1">
                            <header>
                                <!-- START LOGO -->
                                <div class="logo_wrapper">
                                    <a href="index.html" class="logo"><img src="~/Content/images/gallery/nav.png" alt="Kinder Garten Logo"></a>
                                </div>
                                <!-- END LOGO -->
                            </header>
                            <!-- START NAVIGATION MENU -->
                            <nav>
                                <div class="menu_wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li style="cursor:pointer;"><a href="/Home/Index">Home<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a onclick="backHome()">Challenge<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Ranking">Ranking<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Explore">Safety Intelligence<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;" class="active"><a href="/Home/Contact">About Us<span class="over1"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <!-- END NAVIGATION MENU -->
                        </div>
                    </div>
                    <div class="span8 offset1">
                        <!-- START CAROUFREDSEL SLIDER -->
                        <div class="box2">
                            <div class="caroufredsel_slider1_wrapper">
                                <a class="prev1" href="index.html#"></a>
                                <a class="next1" href="index.html#"></a>
                                <ul id="caroufredsel_slider1" class="clearfix" style="cursor:default;">
                                    <li>
                                        <div class="caroufredsel_slide1" style="cursor:default;">
                                            <img src="~/Content/images/contact/contactHome.jpg" alt="Slider2" class="img" style="cursor:default;" />
                                            <div class="txt1">All About Road Safety</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pagination1" id="caroufredsel_pag1"></div>
                            </div>
                        </div>
                        <!-- END CAROUFREDSEL SLIDER -->
                    </div>
                </div>
            </div>
        </div>
        <div class="pages_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- START CONTACT US -->
                        <div class="pages" style="margin-bottom:45px;">
                            <div class="pages_title">Meet Joeys on the Road</div>
                            <p>Road Safety is important to all of us. We want to help build a safer environment for future generations by bringing about a positive change in their mindset about responsible behavior on the road.</p>
                            <p>Our community needs Safety Champions like you to practice safe behavior on the roads and share your knowledge with others to achieve our goal.</p>
                            <p>Thank you for visiting our website.</p>
                        </div>
                        <hr />
                        <!-- END CONTACT US -->
                        <!-- START NEWS -->
                        <div class="news" style="margin-top:45px; margin-bottom:45px; background:none;">
                            <div class="pages_title">Road Safety Professional Webs</div>
                            <div class="date1 clearfix">
                                <div class="txt1" style="background:none;">
                                    <img src="~/Content/images/quicklinks/opendata.png" class="img-responsive" alt="VicRoadsOpenData LOGO" />
                                </div>
                                <div class="txt2">
                                    <h5>VicRoads Open Data</h5>
                                    <p><a href="https://vicroadsopendata-vicroadsmaps.opendata.arcgis.com/">Vicroads Opendata</a> provides data related to public transportation.</p>
                                    
                                </div>
                            </div>
                            <div class="date1 clearfix">
                                <div class="txt1" style="background:none;">
                                    <img src="~/Content/images/quicklinks/PTV_BRAND_POS_CMYK.jpg" class="img-responsive" alt="PTV LOGO" />
                                </div>
                                <div class="txt2">
                                    <h5>Public Transport Victoria</h5>
                                    <p>Learn more about public transportation in <a href="https://www.ptv.vic.gov.au/">PTV</a>.</p>
                                </div>
                            </div>
                            <div class="date1 clearfix">
                                <div class="txt1" style="background:none;">
                                    <img src="~/Content/images/quicklinks/VicRoads-Logo-Large-1--1-.png" class="img-responsive" alt="VicRoad LOGO" />
                                </div>
                                <div class="txt2">
                                    <h5>VicRoads</h5>
                                    <p>One of the most professional website hosted by the government of Victoria.</p>
                                    <p>If you want to be a driver, <a href="https://www.vicroads.vic.gov.au/">this</a> is a must!</p>
                                </div>
                            </div>
                            <div class="date1 clearfix">
                                <div class="txt1" style="background:none;">
                                    <img src="~/Content/images/quicklinks/Hackathon.png" class="img-responsive" alt="GovHack LOGO" />
                                </div>
                                <div class="txt2">
                                    <h5>GovHack</h5>
                                    <p>This is a great website for those who are interested in open data.</p>
                                    <p>Go and explore the world of <a href="https://2018.hackerspace.govhack.org/">datasets</a>!</p>
                                </div>
                            </div>
                            <div class="date1 clearfix">
                                <div class="txt1" style="background:none;">
                                    <img src="~/Content/images/quicklinks/TAC-Logo.png" class="img-responsive" alt="TAC LOGO" />
                                </div>
                                <div class="txt2">
                                    <h5>Transport Accident Commission</h5>
                                    <p>"The <a href="https://www.tac.vic.gov.au/home">TAC</a> is a Victorian Government-owned organisation set up to pay for treatment and benefits for people injured in transport accidents, promote road safety and improve Victoria's trauma system." - TAC website</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- END NEWS -->
                        <!-- START LIABILITY  -->
                        <div class="pages" style="margin-top:45px; margin-bottom:45px;">
                            <div class="pages_title">Website Terms of Use</div>
                            <div class="news_title">Introduction</div>
                            <p>Welcome to YoungSafetyChampions available at YoungSafetyChampions.ml (<b>Website</b>). This website is owned by 5 hard-working students from Monash University(<b>we</b>, <b>us</b>).</p>
                            <p>These Services Terms and Conditions (<b>Website Terms of Use</b>) apply to every client who uses our information, documents and any other products and/or services that we provide.</p>
                            <div class="news_title">Copyright and Resources Usage</div>
                            <p>All images and texts on our website are created by us or from google free images. All data that the website uses are from opendata websites.</p>
                            <p>If any of the contents that we use is not allow by the IP owner, we apologize for our unconscious tort. Please leave us a message on our <a href="https://www.facebook.com/pg/Young-Safety-Champions-326344201469443/about/?ref=page_internal">Facebook page</a> so that we could change the content.</p>
                            <div class="news_title">Personal and Confidential Information</div>
                            <p>The website does not store and require any personal and confidential information except postcode. Only anonymous scores, input postcodes and its related Council name will be recorded.</p>
                            <div class="news_title">Limitation of Liability and Disclaimer</div>
                            <p>The information, including statements, opinions, documents and materials contained in this Site (<b>Information</b>) is for general information purposes only. The Information does not take into account your specific needs, objectives or circumstances, and it is not legal advice or services. Any reliance you place on the Information, and any use of the documents on the Site or our Services is at your own risk.</p>
                        </div>
                        <!-- END LIABILITY -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START FOOTER -->
    <footer>
        <div class="social_wrapper">
            <ul class="social clearfix">
                <li><a href="https://www.facebook.com/pg/Young-Safety-Champions-326344201469443/about/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
        <div class="copyright">Joeys on the road © 2018</div>
    </footer>
    <!-- END FOOTER -->
    <!-- JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/templateJS/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/templateJS/superfish.js"></script>
    <script src="~/Scripts/templateJS/jquery.ui.totop.js"></script>
    <script src="~/Scripts/templateJS/jquery.caroufredsel.js"></script>
    <script src="~/Scripts/templateJS/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/templateJS/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2q1gFSd75jKUnTDPq0nZWaMlEu6vL30"></script>
    @*<script src="~/Scripts/templateJS/map.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script>
        // CAROUFSEDSEL SLIDER
        $(document).ready(function () {
            $('#caroufredsel_slider1').carouFredSel({
                auto: {
                    timeoutDuration: 9000
                }
                , responsive: true
                , direction: "left"
                , width: '100%'
                , scroll: {
                    items: 1
                    , duration: 1000
                    , easing: "easeOutExpo"
                    , fx: "fade"
                }
                , items: {
                    width: '1000'
                    , height: 'variable'
                    , visible: {
                        min: 1
                        , max: 1
                    }
                }
                , mousewheel: false
                , swipe: {
                    onMouse: true
                    , onTouch: true
                }
                , pagination: ".pagination1"
            });
            $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);

            function updateSizes_vat() {
                $('#caroufredsel_slider1').trigger("updateSizes");
            }
            updateSizes_vat();
        });
        $(window).on('load', function () { });
    </script>
    @*<script type="text/javascript">

            document.onmousemove = animateCircles;

            var colors = ['#ccc', '#6cf', '#eba13a'];

            function animateCircles(event) {
                let circle = document.createElement("div");
                circle.setAttribute("class", "circle");
                document.body.appendChild(circle);

                circle.style.left = event.clientX + 'px';
                circle.style.top = event.clientY + 'px';

                var color = colors[Math.floor(Math.random() * colors.length)];
                circle.style.borderColor = color;

                circle.style.transition = "all 0.5s linear 0s";

                circle.style.left = circle.offsetLeft - 20 + 'px';
                circle.style.top = circle.offsetTop - 20 + 'px';

                circle.style.width = "50px";
                circle.style.height = "50px";
                circle.style.borderWidth = "5px";
                circle.style.opacity = 0;

                setTimeout(function () {
                    circle.remove();
                }, 500);
            }
        </script>*@
    <script>
        function backHome() {
            Cookies.set("scrollDown", "1");
            window.location = "/Home/Index";

        }
    </script>
</body>
</html>