<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Champion - explore fun</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/gallery/challenge.jpg" type="image/png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/customCSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/customCSS/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/customCSS/style.css" rel="stylesheet" />
    <link href="~/Content/customCSS/font-awesome.css" rel="stylesheet" />
    <!--[if lt IE 8]>
        <div><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
    <style type="text/css">

        .circle {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            position: absolute;
            border-radius: 15px;
        }

        .exp_hover:hover {
            color: #c2d1b8;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #dc948b;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #aec5a5;
            }
    </style>
</head>
<body class="main">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- START MOUNTAIN EFFECT -->
    <div class="mountainbg">
        <div class="mountaincover">
            <div class="mountain">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="cloud"></div>
            <div class="hot-air-balloon"><img src="~/Content/images/gallery/bicycle.png" alt=""></div>
        </div>
    </div>
    <!-- END MOUNTAIN EFFECT -->
    <div id="inner">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="box1">
                            <header>
                                <!-- START LOGO -->
                                <div class="logo_wrapper">
                                    <a href="/Home/Index" class="logo"><img src="~/Content/images/gallery/nav.png" alt="Kinder Garten Logo"></a>
                                </div>
                                <!-- END LOGO -->
                            </header>
                            <!-- START NAVIGATION MENU -->
                            <nav>
                                <div class="menu_wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li><a href="/Home/Index">Home<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a onclick="backHome()">Challenge<span class="over1"></span></a></li>
                                                    <li class="active"><a href="/Home/Explore">Exploration<span class="over1"></span></a></li>
                                                    @*<li><a href="/Home/Contact">About Us<span class="over1"></span></a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <!-- END NAVIGATION MENU -->
                        </div>
                    </div>
                    <div class="span8 offset1">
                        <!-- START CAROUFREDSEL SLIDER -->
                        <div class="box2">
                            <div class="caroufredsel_slider1_wrapper">
                                <a class="prev1" href="index.html#"></a>
                                <a class="next1" href="index.html#"></a>
                                <ul id="caroufredsel_slider1" class="clearfix">
                                    <li>
                                        <div class="caroufredsel_slide1">
                                            <img src="~/Content/images/exploration/exploreHome.jpg" alt="Slider2" class="img">
                                            <div class="txt1">Scroll down to explore Fuuuun! </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pagination1" id="caroufredsel_pag1"></div>
                            </div>
                        </div>
                        <!-- END CAROUFREDSEL SLIDER -->
                    </div>
                </div>
            </div>
        </div>
        <div class="pages_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- START NEWS -->
                        <div class="news">
                            <div class="news_title">Let's warm up first!</div>
                            <div class="date1 clearfix">
                                <div class="txt1 c4">
                                    1
                                    <br><span>data</span>
                                </div>
                                <div class="txt2">
                                    <h5><a href="#">Do you know DATA can tell STORIES?</a></h5>
                                    <p>In this session, we use the open data from <a href="https://vicroadsopendata-vicroadsmaps.opendata.arcgis.com/">Vicroad Opendata</a> (explore more dataset by clicking)</p>
                                    <p>The data can tell you what are possible influence factors that may cause accidents while driving.</p>
                                </div>
                            </div>
                            <div class="date1 clearfix">
                                <div class="txt1 c2">
                                    2
                                    <br><span>map</span>
                                </div>
                                <div class="txt2">
                                    <h5><a href="#">Explore your territory on the map!</a></h5>
                                    <p>Click on the "Heat Map" session below, we will find the data change while the location changes.</p>
                                    <p>Find out more by yourself!</p>
                                </div>
                            </div>
                            <div class="date1 clearfix">
                                <div class="txt1 c3">
                                    3
                                    <br><span>pie</span>
                                </div>
                                <div class="txt2">
                                    <h5><a href="#">Pie Chart is more than a PIE!</a></h5>
                                    <p>Who doesn't love pie?! But do you know what is a "Pie Chart"?  (hint: it is related to Percentage %)</p>
                                    <p>Click on the "Pie Charts" below, have a taste of each slice!</p>
                                </div>
                            </div>
                        </div>
                        <!-- END NEWS -->

                    </div>
                    <div class="span8 offset1" style="width:1000px;">
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- START ANNOUNCEMENTS -->
                                <div class="announcements">
                                    <div>
                                        <div id="heatMapTab" class="announcements_title exp_hover" style="display:inline-block;cursor:pointer;background-color: #ffeed4; color: #dc948b;margin:10px 0 0px 0" onclick="displayMap('heatMap')">Heat Map </div>
                                        <div id="StatisticsTab" class="announcements_title exp_hover" style="display:inline-block;cursor:pointer;background-color: #dc948b; color: #ffeed4;margin:10px 0 0px 0" onclick="displayMap('Statistics')">Statistics </div>
                                        <div id="bubbleMapTab" class="announcements_title exp_hover" style="display:inline-block;cursor:pointer;background-color: #dc948b; color: #ffeed4;margin:10px 0 0px 0" onclick="displayMap('bubbleMap')">Bubble Map </div>
                                    </div>
                                    <div id="heatMap" style="display:block;">
                                        <div class='tableauPlaceholder' id='viz1537856998058' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ex&#47;ExploringNumberofInjuredorFatalityinVictoria&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='views&#47;ExploringNumberofInjuredorFatalityinVictoria&#47;Dashboard1?:embed=y&amp;:display_count=y' /> <param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ex&#47;ExploringNumberofInjuredorFatalityinVictoria&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1537856998058'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1000px'; vizElement.style.height = '800px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                    <div id="Statistics" style="display:none;">
                                        <div class='tableauPlaceholder' id='viz1537857031673' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ex&#47;ExploringPercentageofCarCrashesbyDifferentSituation&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='ExploringPercentageofCarCrashesbyDifferentSituation&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ex&#47;ExploringPercentageofCarCrashesbyDifferentSituation&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1537857031673'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1000px'; vizElement.style.height = '800px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                    <div id="bubbleMap" style="display:none;">
                                        <div class='tableauPlaceholder' id='viz1537857057968' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ex&#47;ExploringNumberofInjuredorFatalityinYourCouncil&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='ExploringNumberofInjuredorFatalityinYourCouncil&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ex&#47;ExploringNumberofInjuredorFatalityinYourCouncil&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1537857057968'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1000px'; vizElement.style.height = '800px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                </div>
                                <!-- END ANNOUNCEMENTS -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- START FOOTER -->
        <footer>
            <div class="social_wrapper">
                <ul class="social clearfix">
                    <li><a href="https://www.facebook.com/pg/Young-Safety-Champions-326344201469443/about/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="copyright">Joeys on the road © 2018</div>
        </footer>
        <!-- END FOOTER -->
    </div>

    <!-- JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/templateJS/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/templateJS/superfish.js"></script>
    <script src="~/Scripts/templateJS/jquery.ui.totop.js"></script>
    <script src="~/Scripts/templateJS/jquery.caroufredsel.js"></script>
    <script src="~/Scripts/templateJS/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/templateJS/bootstrap.js"></script>

    <script>
        function displayMap(id) {
            //display tab
            document.getElementById("heatMapTab").style.backgroundColor = "#dc948b";
            document.getElementById("StatisticsTab").style.backgroundColor = "#dc948b";
            document.getElementById("bubbleMapTab").style.backgroundColor = "#dc948b";
            document.getElementById(id + "Tab").style.backgroundColor = "#ffeed4";

            //display text
            document.getElementById("heatMapTab").style.color = "#ffeed4";
            document.getElementById("StatisticsTab").style.color = "#ffeed4";
            document.getElementById("bubbleMapTab").style.color = "#ffeed4";
            document.getElementById(id + "Tab").style.color = "#dc948b";

            //display tableau
            document.getElementById("heatMap").style.display = "none";
            document.getElementById("Statistics").style.display = "none";
            document.getElementById("bubbleMap").style.display = "none";
            document.getElementById(id).style.display = "block";
        }
    </script>
    <script>
        // CAROUFSEDSEL SLIDER
        $(document).ready(function () {
            $('#caroufredsel_slider1').carouFredSel({
                auto: {
                    timeoutDuration: 9000
                }
                , responsive: true
                , direction: "left"
                , width: '100%'
                , scroll: {
                    items: 1
                    , duration: 1000
                    , easing: "easeOutExpo"
                    , fx: "fade"
                }
                , items: {
                    width: '1000'
                    , height: 'variable'
                    , visible: {
                        min: 1
                        , max: 1
                    }
                }
                , mousewheel: false
                , swipe: {
                    onMouse: true
                    , onTouch: true
                }
                , pagination: ".pagination1"
            });

            $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);

            function updateSizes_vat() {
                $('#caroufredsel_slider1').trigger("updateSizes");
                $('#slider3 .carousel.main ul').trigger("updateSizes");
            }
            updateSizes_vat();
        });
        $(window).on('load', function () { });
    </script>
    <script type="text/javascript">

        document.onmousemove = animateCircles;

        var colors = ['#ccc', '#6cf', '#eba13a'];

        function animateCircles(event) {
            let circle = document.createElement("div");
            circle.setAttribute("class", "circle");
            document.body.appendChild(circle);

            circle.style.left = event.clientX + 'px';
            circle.style.top = event.clientY + 'px';

            var color = colors[Math.floor(Math.random() * colors.length)];
            circle.style.borderColor = color;

            circle.style.transition = "all 0.5s linear 0s";

            circle.style.left = circle.offsetLeft - 20 + 'px';
            circle.style.top = circle.offsetTop - 20 + 'px';

            circle.style.width = "50px";
            circle.style.height = "50px";
            circle.style.borderWidth = "5px";
            circle.style.opacity = 0;

            setTimeout(function () {
                circle.remove();
            }, 500);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        function backHome() {
            Cookies.set("scrollDown", "1");
            window.location = "/Home/Index";

        }
    </script>
</body>
</html>