@{
    ViewBag.Title = "Joeys on the road";
}


<link href="@Url.Content("https://fonts.googleapis.com/css?family=Roboto")" rel="stylesheet" type="text/css" />


<div>
    <select>
        <option>Caulfield 3162</option>
        <option>Clayton 3168</option>
    </select>
</div>
<div class="mainContainer">
    <button type="button" onclick="location.href='@Url.Action("Factors", "Home")'"> go to factors</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/customJS/homePage.js"></script>

