<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Young Safety Champion Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/gallery/challenge.jpg" type="image/png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/customCSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/customCSS/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/customCSS/style.css" rel="stylesheet" />
    <link href="~/Content/customCSS/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/customCSS/imagehover.css" rel="stylesheet" />

    <!--[if lt IE 8]>
        <div><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
    <style type="text/css">

        .circle {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            position: absolute;
            border-radius: 15px;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #dc948b;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #aec5a5;
            }

        .list-group {
            z-index: 999;
            position: absolute;
            padding-left: 0;
            margin-bottom: 20px;
        }

        .list-group-item {
            
            
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    </style>




    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/Scripts/customJS/HomePage.js"></script>
</head>
<body class="main">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <div class="mountainbg">
        <div class="mountaincover">
            <div class="mountain">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="cloud"></div>
            <div class="hot-air-balloon">
                <img src="~/Content/images/gallery/bicycle.png" alt="" />
            </div>
        </div>
    </div>
    <!-- END MOUNTAIN EFFECT -->
    <div id="inner">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="box1">
                            <header>
                                <!-- START LOGO -->
                                <div class="logo_wrapper">
                                    <a href="/Home/Index" class="logo">
                                        <img src="~/Content/images/gallery/nav.png" alt="Kinder Garten Logo (test)" />
                                    </a>
                                </div>
                                <!-- END LOGO -->
                            </header>
                            <!-- START NAVIGATION MENU -->
                            <nav>
                                <div class="menu_wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li style="cursor:pointer;" class="active"><a href="/Home/Index">Home<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a onclick='scrollDown()' style="cursor: pointer;">Challenge<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Ranking">Ranking<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Explore">Safety Intelligence<span class="over1"></span></a></li>
                                                    @*<li><a href="/Home/Contact">About Us<span class="over1"></span></a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <!-- END NAVIGATION MENU -->
                        </div>
                    </div>
                    <div class="span8 offset1">
                        <!-- START CAROUFREDSEL SLIDER -->
                        <div class="box2">
                            <div class="caroufredsel_slider1_wrapper">
                                <a class="prev1" href="index.html#"></a>
                                <a class="next1" href="index.html#"></a>
                                <ul id="caroufredsel_slider1" class="clearfix">
                                    <li>
                                        <div class="caroufredsel_slide1">
                                            <img src="~/Content/images/homeHome6.jpg" alt="Slider2" class="img" />
                                            <div class="txt1">Hello There!</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pagination1" id="caroufredsel_pag1"></div>
                            </div>
                        </div>
                        <!-- END CAROUFREDSEL SLIDER -->
                    </div>
                </div>
            </div>
        </div>
        <!-- START WELCOME -->
        <div class="welcome_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="welcome">
                            <div class="row" align="center">
                                <div class="span6" style="text-align:center; float:none;">
                                    <div class="welcome_title"><i>"The price of independence is responsibility."</i></div>
                                    <h5>Welcome to YoungSafetyChampion website</h5>
                                    <p>Children today are more responsible than they are given credit for. This is a place for children to learn about safe practices on the road and prove that they are champions of road safety.</p>
                                    <p>Explore our website and begin your journey to becoming an independent and safe road user.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WELCOME -->
        <!-- START BANNERS -->
        <div id="banners" style="margin-top:0px;">
            <div class="container">
                <div name="autoScroll" class="row" style="margin-bottom:50px;">
                    <div class="span5 offset1">
                        <!-- START NEWS -->
                        <div style="text-align:center;">
                            <p>Are you a Safety Champion?</p>
                            <p>Take up our challenge to find out.</p>
                            <p>Complete all levels to unlock your prize!</p>
                        </div>
                        <div class="news">
                            <div class="news_title">Start the Safety Challenge</div>
                            <div class="date1 clearfix">
                                <div class="imageHoverContainer">
                                    <img src="~/Content/images/gallery/challenge.jpg" alt="Avatar" class="image1" />
                                    <div class="overlay  overlayLeft">
                                        <div class="textLeft">
                                            <h6>1. Enter a postcode below</h6>
                                            <h6>2. Click "start challenge"</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="date1 clearfix" id="postcodeInput">
                                <br />
                                <div class="txt2" style="text-align:center;" ng-app="myapp" ng-controller="postcodeController">
                                    <input style="margin: 0 auto;" id="postcodeText" type="text" name="postcode" ng-model="postcode" ng-keyup="complete(postcode)" placeholder="e.g. 3162"/>
                                    <br />
                                    <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                                        <li class="list-group-item" ng-repeat="postcodedata in filterPostcode" ng-click="fillTextbox(postcodedata)">{{ postcodedata }}</li>
                                    </ul>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="checkPostcode()" class="button1"> start challenge </a>
                                    @*<h5><a href="#">Convallis inter</a></h5>*@
                                </div>
                            </div>
                            <div class="date1 clearfix" id="postcodeValidation" style="display:none">
                                <p id="postcode_line1">Well, we did not found any data based on your input postcode. Would you like to input again? or use a default postcode instead? (default postcode is 3162, which is caulfield campus)</p>
                                <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="inputAgain()"> Input Again </a><a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="useDefault()"> Use Default </a>
                            </div>

                        </div>
                        <!-- END NEWS -->
                    </div>
                    <div class="span5">
                        <div class="span5 ">
                            <!-- START ANNOUNCEMENTS -->
                            <div style="text-align:center">
                                <p>How well do you know your neighbourhood?</p>
                                <p>Explore you locality with our data services.</p>
                                <br />
                            </div>
                            <div class="announcements">
                                <div class="announcements_title">Explore your Neighbourhood</div>
                                <div class="date1 clearfix">
                                    <div class="imageHoverContainer">
                                        <img src="~/Content/images/gallery/exploration.jpg" alt="Avatar" class="image1" />
                                        <div class="overlay  overlayRight">
                                            <div class="textRight">
                                                <h6>1. Ready to play with numbers</h6>
                                                <h6>2. Click "Start Exploration"</h6>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="date1 clearfix">
                                        <div class="txt2" style="text-align:center;">
                                            @*<h5><a href="#"> Explore by yourself. </a></h5>*@
                                            <br />
                                            <br />
                                            <a href="/Home/Explore" class="button3" style="font-size:22px;font-family: 'Baloo Bhaijaan', cursive;"> Explore Now!</a>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            <!-- END ANNOUNCEMENTS -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END BANNERS -->
            <!-- START FOOTER -->
            <footer>
                <div class="social_wrapper">
                    <ul class="social clearfix">
                        <li><a href="https://www.facebook.com/pg/Young-Safety-Champions-326344201469443/about/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">Joeys on the road © 2018</div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>

    <!-- JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/templateJS/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/templateJS/superfish.js"></script>
    <script src="~/Scripts/templateJS/jquery.ui.totop.js"></script>
    <script src="~/Scripts/templateJS/jquery.caroufredsel.js"></script>
    <script src="~/Scripts/templateJS/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/templateJS/bootstrap.js"></script>

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/customJS/postcodes.js"></script>
    <script>
        var app = angular.module("myapp", []);
        app.controller("postcodeController", function ($scope) {
            $scope.postcodeList = postcodeString;
            $scope.complete = function (string) {
                var output = [];
                angular.forEach($scope.postcodeList, function (input) {
                    if (input.indexOf(string) >= 0) {
                        output.push(input);
                    }
                });
                $scope.filterPostcode = output;
            }
            $scope.fillTextbox = function (string) {
                $scope.postcode = string;
                $scope.hidethis = true;
            }
        })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>

        window.onload = autoScrollDown;

        function autoScrollDown() {
            document.getElementById("postcodeText").disabled = false;

            //first time home
            if (Cookies.get("scrollDown") == 'undefined') {
                //Cookies.set("scrollDown", "1");
            }
            //second time
            else if (Cookies.get("scrollDown") == "1") {
                console.log("not from home");
                $('html, body').animate({
                    scrollTop: $("#banners").offset().top
                }, 1000);
                //window.scrollTo(0, 1100);
                Cookies.set("scrollDown", 'undefined');
            }
        }

        function scrollDown() {
            $('html, body').animate({
                scrollTop: $("#banners").offset().top
            }, 1000);
        }
    </script>
    <script>
        // CAROUFSEDSEL SLIDER
        $(document).ready(function () {
            $('#caroufredsel_slider1').carouFredSel({
                auto: {
                    timeoutDuration: 9000
                }
                , responsive: true
                , direction: "left"
                , width: '100%'
                , scroll: {
                    items: 1
                    , duration: 1000
                    , easing: "easeOutExpo"
                    , fx: "fade"
                }
                , items: {
                    width: '1000'
                    , height: 'variable'
                    , visible: {
                        min: 1
                        , max: 1
                    }
                }
                , mousewheel: false
                , swipe: {
                    onMouse: true
                    , onTouch: true
                }
                , pagination: ".pagination1"
            });
            $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);

            function updateSizes_vat() {
                $('#caroufredsel_slider1').trigger("updateSizes");
            }
            updateSizes_vat();
        });
        $(window).on('load', function () { });
    </script>
    <script type="text/javascript">

        document.onmousemove = animateCircles;

        var colors = ['#ccc', '#6cf', '#eba13a'];

        function animateCircles(event) {
            let circle = document.createElement("div");
            circle.setAttribute("class", "circle");
            document.body.appendChild(circle);

            circle.style.left = event.clientX + 'px';
            circle.style.top = event.clientY + 'px';

            var color = colors[Math.floor(Math.random() * colors.length)];
            circle.style.borderColor = color;

            circle.style.transition = "all 0.5s linear 0s";

            circle.style.left = circle.offsetLeft - 20 + 'px';
            circle.style.top = circle.offsetTop - 20 + 'px';

            circle.style.width = "50px";
            circle.style.height = "50px";
            circle.style.borderWidth = "5px";
            circle.style.opacity = 0;

            setTimeout(function () {
                circle.remove();
            }, 500);
        }
    </script>
    <script>
        function checkPostcode() {
            var text = document.getElementById("postcodeText").value;
            if (text == "") {
                document.getElementById("postcode_line1").innerHTML = "Hey, you gave us nothing! We need a postcode! Input again or use the default one? (default postcode is 3162, which is caulfield campus)";
                document.getElementById("postcodeInput").style.display = "none";
                document.getElementById("postcodeValidation").style.display = "block";
            }
            //if input 4 digit and is valid
            else if (3000 <= parseInt(text, 10) || parseInt(text, 10) <= 3999 || 8000 <= parseInt(text, 10) || parseInt(text, 10) <= 8999) {
                if (postcodes.includes(parseInt(text))) {
                    window.location = "/Home/Challenge?postcode=" + text
                    Cookies.set("currentPostcode", text);
                    document.getElementById("postcodeText").disabled = true;
                }
                else {
                    document.getElementById("postcode_line1").innerHTML = "Sorry, we could not find any data based on given postcode. Input a neighbourhood postcode or use the default one? (default postcode is 3162, which is caulfield campus)";
                    document.getElementById("postcodeInput").style.display = "none";
                    document.getElementById("postcodeValidation").style.display = "block";
                }
            }
            else {
                document.getElementById("postcode_line1").innerHTML = "Hey, the postcode you gave us is invalid! Input again or use the default one? (default postcode is 3162, which is caulfield campus)";
                document.getElementById("postcodeInput").style.display = "none";
                document.getElementById("postcodeValidation").style.display = "block";
            }

        }

        function inputAgain() {
            document.getElementById("postcodeText").value = "";
            document.getElementById("postcodeInput").style.display = "block";
            document.getElementById("postcodeValidation").style.display = "none";
        }

        function useDefault() {
            document.getElementById("postcodeInput").style.display = "block";
            document.getElementById("postcodeValidation").style.display = "none";
            window.location = "/Home/Challenge?postcode=3162";
            Cookies.set("currentPostcode", 3162);
            document.getElementById("postcodeText").value = "3162";
            document.getElementById("postcodeText").disabled = true;
        }
    </script>
</body>

</html>