@model iteration2.Models.RankingList
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Champion - Ranking</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/gallery/challenge.jpg" type="image/png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/customCSS/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/isotope.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/touchTouch.css" type="text/css" media="screen">

    <!--[if lt IE 8]>
        <div><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
    <style type="text/css">

        .circle {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            position: absolute;
            border-radius: 15px;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #dc948b;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #aec5a5;
            }

        .chart {
            width: auto;
            height: 550px;
            display: none;
            overflow: auto;
            overflow-y: hidden;
        }

        .list-group {
            z-index: 999;
            position: absolute;
            padding-left: 0;
            margin-bottom: 20px;
        }

        .list-group-item {
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .active {
            background-color: #dc948b;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        td {
            font-size: 20px;
        }

        th {
            width:33%;
        }

        .school-classes {
            margin-top: 90px;
            padding: 20px;
            background: #edd4bd;
            border-radius: 20px 70px 30px 70px / 30px 40px 70px 40px;
            -moz-border-radius: 20px 70px 30px 70px / 30px 40px 70px 40px;
            -webkit-border-radius: 20px 70px 30px 70px / 30px 40px 70px 40px;
        }
    </style>

</head>
<body class="main">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- START MOUNTAIN EFFECT -->
    <div class="mountainbg">
        <div class="mountaincover">
            <div class="mountain">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="cloud"></div>
            <div class="hot-air-balloon">
                <img src="~/Content/images/gallery/bicycle.png" alt="" />
            </div>
        </div>
    </div>
    <!-- END MOUNTAIN EFFECT -->
    <div id="inner">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="box1">
                            <header>
                                <!-- START LOGO -->
                                <div class="logo_wrapper">
                                    <a href="/Home/Index" class="logo">
                                        <img src="~/Content/images/gallery/nav.png" alt="Safetychampion Logo" />
                                    </a>
                                </div>
                                <!-- END LOGO -->
                            </header>
                            <!-- START NAVIGATION MENU -->
                            <nav>
                                <div class="menu_wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li style="cursor:pointer;"><a href="/Home/Index">Home<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a onclick="backHome()">Challenge<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;" class="active"><a href="/Home/Ranking">Ranking<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Explore">Safety Intelligence<span class="over1"></span></a></li>
                                                    <li><a href="/Home/Contact">About Us<span class="over1"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <!-- END NAVIGATION MENU -->
                        </div>
                    </div>
                    <div class="span8 offset1">
                        <!-- START CAROUFREDSEL SLIDER -->
                        <div class="box2">
                            <div class="caroufredsel_slider1_wrapper">
                                <a class="prev1" href="index.html#"></a>
                                <a class="next1" href="index.html#"></a>
                                <ul id="caroufredsel_slider1" class="clearfix" style="cursor:default;">
                                    <li>
                                        <div class="caroufredsel_slide1" style="cursor:default;">
                                            <img src="~/Content/images/ranking2.jpg" alt="Slider2" class="img" style="cursor:default;" />
                                            <div class="txt1">Scroll Down and View Rankings</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pagination1" id="caroufredsel_pag1"></div>
                            </div>
                        </div>
                        <!-- END CAROUFREDSEL SLIDER -->
                    </div>
                </div>
            </div>
        </div>
        <div class="pages_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="span5">
                            <!-- START TOTAL RANKING -->
                            <div class="school-classes">
                                <div class="school-classes_title">ALL TIME TOP 5</div>
                                <table>
                                    <tr>
                                        <th></th>
                                        <th><h5>COUNCIL NAME</h5></th>
                                        <th><h5>SCORE</h5></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 float-right">1</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="txt2">
                                                <p id="Trank1">Total No.1</p>
                                            </div>
                                        </td>
                                        <td id="Trank1S">1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">2</div>
                                            </div>
                                        </td>
                                        <td id="Trank2">Total No.2</td>
                                        <td id="Trank2S">2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">3</div>
                                            </div>
                                        </td>
                                        <td id="Trank3">Total No.3</td>
                                        <td id="Trank3S">3</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">4</div>
                                            </div>
                                        </td>
                                        <td id="Trank4">Total No.4</td>
                                        <td id="Trank4S">4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">5</div>
                                            </div>
                                        </td>
                                        <td id="Trank5">Total No.5</td>
                                        <td id="Trank5S">5</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- END TOTAL RANKING -->
                        </div>
                        <div class="span5 offset1">
                            <!-- START WEEKLY RANKING -->
                            <div class="school-classes">
                                <div class="school-classes_title">WEEKLY TOP 5</div>
                                <table>
                                    <tr>
                                        <th></th>
                                        <th><h5>COUNCIL NAME</h5></th>
                                        <th><h5>SCORE</h5></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 float-right">1</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="txt2">
                                                <p id="Wrank1">Total No.1</p>
                                            </div>
                                        </td>
                                        <td id="Wrank1S">1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">2</div>
                                            </div>
                                        </td>
                                        <td id="Wrank2">Total No.2</td>
                                        <td id="Wrank2S">2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">3</div>
                                            </div>
                                        </td>
                                        <td id="Wrank3">Total No.3</td>
                                        <td id="Wrank3S">3</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">4</div>
                                            </div>
                                        </td>
                                        <td id="Wrank4">Total No.4</td>
                                        <td id="Wrank4S">4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="date2 clearfix">
                                                <div class="txt1 c4">5</div>
                                            </div>
                                        </td>
                                        <td id="Wrank5">Total No.5</td>
                                        <td id="Wrank5S">5</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- END WEEKLY RANKING -->
                        </div>
                    </div>
                    <div class="span12">
                        <div class="col-xs-12">
                            <!-- START CHECK COUNCIL RANKING -->
                            <div class="school-classes">
                                <div class="school-classes_title">Check your council ranking</div>
                                <div class="date1 clearfix" id="postcodeInput">
                                    <div ng-app="myapp" ng-controller="postcodeController">
                                        @*<h2>Check your council ranking</h2>*@
                                        <p>We can check if your suburb has completed challenges before based on your given postcode.</p>
                                        <input style="margin: 0 auto;" id="postcodeText" type="text" name="postcode" ng-model="postcode" ng-keyup="complete(postcode)" placeholder="e.g. 3162" />
                                        <br />
                                        <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                                            <li class="list-group-item" ng-repeat="postcodedata in filterPostcode" ng-click="fillTextbox(postcodedata)">{{ postcodedata }}</li>
                                        </ul>
                                        <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="checkPostcode()" class="button1"> Check </a>
                                    </div>
                                    <div id="postcodeRanking">

                                    </div>
                                </div>
                                <div class="date1 clearfix" id="postcodeValidation" style="display:none">
                                    <p id="postcode_line1">Well, we did not found any data based on your input postcode. Would you like to input again?</p>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="inputAgain()"> Input Again </a>
                                </div>
                            </div>
                            <!-- END CHECK COUNCIL RANKING -->
                        </div>
                        <div class="col-xs-12">
                            <!-- START FACTOR RANKING -->
                            <div class="school-classes">
                                <div class="school-classes_title">Factor Ranking</div>
                                <div id="control" class="col-md-12">
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="selectFactor('drunk')" class="button1 factor active" id="btn_drunk">Drinking and Driving</a>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="selectFactor('speeding')" class="button1 factor" id="btn_speeding">Speeding</a>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="selectFactor('distraction')" class="button1 factor" id="btn_distraction">Distraction</a>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="selectFactor('fatigue')" class="button1 factor" id="btn_fatigue">Fatigue</a>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="selectFactor('general')" class="button1 factor" id="btn_general">General Safety</a>
                                </div>
                                <div id="sections" class="col-md-12" style="text-align:center;">
                                    <h2 id="factorDesc"> Drinking and Driving </h2>
                                    <div class="col-md-3"></div>
                                    <div id="drunk" class="chart col-md-6" style="display:block;">
                                        <canvas id="drunkChart"></canvas>
                                    </div>
                                    <div id="speeding" class="chart col-md-6">
                                        <canvas id="speedingChart"></canvas>
                                    </div>
                                    <div id="distraction" class="chart col-md-6">
                                        <canvas id="distractionChart"></canvas>
                                    </div>
                                    <div id="fatigue" class="chart col-md-6">
                                        <canvas id="fatigueChart"></canvas>
                                    </div>
                                    <div id="general" class="chart col-md-6">
                                        <canvas id="generalChart"></canvas>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <!-- START FACTOR RANKING -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- START FOOTER -->
        <footer>
            <div class="social_wrapper">
                <ul class="social clearfix">
                    <li><a href="https://www.facebook.com/pg/Young-Safety-Champions-326344201469443/about/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="copyright">Joeys on the road © 2018</div>
        </footer>
        <!-- END FOOTER -->
    </div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/customJS/postcodes.js"></script>
    <script>
        var app = angular.module("myapp", []);
        app.controller("postcodeController", function ($scope) {
            $scope.postcodeList = postcodeString;
            $scope.complete = function (string) {
                var output = [];
                angular.forEach($scope.postcodeList, function (input) {
                    if (input.indexOf(string) >= 0) {
                        output.push(input);
                    }
                });
                $scope.filterPostcode = output;
            }
            $scope.fillTextbox = function (string) {
                $scope.postcode = string;
                $scope.hidethis = true;
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        function backHome() {
            Cookies.set("scrollDown", "1");
            window.location = "/Home/Index";

        }

        function checkPostcode() {
            var text = document.getElementById("postcodeText").value;
            if (text == "") {
                document.getElementById("postcode_line1").innerHTML = "Hey, you gave us nothing! We need a postcode! Input again or use the default one? (default postcode is 3162, which is caulfield campus)";
                document.getElementById("postcodeInput").style.display = "none";
                document.getElementById("postcodeValidation").style.display = "block";
            }
            //if input 4 digit and is valid
            else if (3000 <= parseInt(text, 10) || parseInt(text, 10) <= 3999 || 8000 <= parseInt(text, 10) || parseInt(text, 10) <= 8999) {
                if (postcodes.includes(parseInt(text))) {
                    checkInRankingList(text);
                }
                else {
                    document.getElementById("postcode_line1").innerHTML = "Sorry, we could not find any data based on given postcode. Please input a neighbourhood postcode instead.";
                    document.getElementById("postcodeInput").style.display = "none";
                    document.getElementById("postcodeValidation").style.display = "block";
                }
            }
            else {
                document.getElementById("postcode_line1").innerHTML = "Hey, the postcode you gave us is invalid! Please input a valid postcode.";
                document.getElementById("postcodeInput").style.display = "none";
                document.getElementById("postcodeValidation").style.display = "block";
            }

        }

        function inputAgain() {
            document.getElementById("postcodeText").value = "";
            document.getElementById("postcodeInput").style.display = "block";
            document.getElementById("postcodeValidation").style.display = "none";
        }

        function checkInRankingList(postcode) {
            var inList = false;
            for (var i = 0; i < data.total.length; i++) {
                if (data.total[i].postcodes.includes(postcode)) {
                    document.getElementById("postcodeRanking").innerHTML = "Your input postcode relates to Council " + data.total[i].council_name + ", and its ranking is " + (i + 1) + ".";
                    inList = true;
                    break;
                }
            }
            if (!inList) {
                document.getElementById("postcodeRanking").innerHTML = "You are the first from your Suburb to take up our challenge! Complete the challenge and view your rank. ";
            }

        }
    </script>
    <script>
        var showMax = 15;
        var data = @Html.Raw(Json.Encode(Model));
        console.log(data);

        //set total and week ranking
        var total = data.total;
        for (var i = 0; i < total.length && i < 5; i++) {
            document.getElementById("Trank" + (i + 1)).innerHTML = total[i].council_name;
            document.getElementById("Trank" + (i + 1) + "S").innerHTML = total[i].score;
        };

        var week = data.week;
        for (var i = 0; i < week.length && i < 5; i++) {
            document.getElementById("Wrank" + (i + 1)).innerHTML = week[i].council_name;
            document.getElementById("Wrank" + (i + 1) + "S").innerHTML = week[i].score;
        };

        //set sections
        //drunk
        var drunk = data.drunk;
        var drunkCouncils = [];
        var drunkScores = [];
        for (var i = 0; i < drunk.length && i < showMax; i++) {
            drunkCouncils.push(drunk[drunk.length - 1 - i].council_name);
        }
        for (var i = 0; i < drunk.length && i < showMax; i++) {
            drunkScores.push(drunk[drunk.length - 1 - i].score * 100);
        }

        //speeding
        var speeding = data.speeding;
        var speedingCouncils = [];
        var speedingScores = [];
        for (var i = 0; i < speeding.length && i < showMax; i++) {
            speedingCouncils.push(speeding[speeding.length - 1 - i].council_name);
        }
        for (var i = 0; i < speeding.length && i < showMax; i++) {
            speedingScores.push(speeding[speeding.length - 1 - i].score * 100);
        }


        //distraction
        var distraction = data.distraction;
        var distractionCouncils = [];
        var distractionScores = [];
        for (var i = 0; i < distraction.length && i < showMax; i++) {
            distractionCouncils.push(distraction[distraction.length - 1 - i].council_name);
        }
        for (var i = 0; i < distraction.length && i < showMax; i++) {
            distractionScores.push(distraction[distraction.length - 1 - i].score * 100);
        }

        //fatigue
        var fatigue = data.fatigue;
        var fatigueCouncils = [];
        var fatigueScores = [];
        for (var i = 0; i < fatigue.length && i < showMax; i++) {
            fatigueCouncils.push(fatigue[fatigue.length - 1 - i].council_name);
        }
        for (var i = 0; i < fatigue.length && i < showMax; i++) {
            fatigueScores.push(fatigue[fatigue.length - 1 - i].score * 100);
        }

        //general
        var general = data.general;
        var generalCouncils = [];
        var generalScores = [];
        for (var i = 0; i < general.length && i < showMax; i++) {
            generalCouncils.push(general[general.length - 1 - i].council_name);
        }
        for (var i = 0; i < general.length && i < showMax; i++) {
            generalScores.push(general[general.length - 1 - i].score * 100);
        }
    </script>
    <script>
        function selectFactor(factor) {
            //display chart title
            switch (factor) {
                case "drunk": document.getElementById("factorDesc").innerHTML = "Drinking and Driving"; break;
                case "speeding": document.getElementById("factorDesc").innerHTML = "Speeding"; break;
                case "distraction": document.getElementById("factorDesc").innerHTML = "Distraction"; break;
                case "fatigue": document.getElementById("factorDesc").innerHTML = "Fatigue"; break;
                case "general": document.getElementById("factorDesc").innerHTML = "General Safety"; break;
            }
            //document.getElementById("factorDesc").innerHTML = factor + " barchart";

            //remove all active class
            var buttons = document.getElementsByClassName("factor");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove("active");
            }

            //active selected button
            document.getElementById("btn_" + factor).classList.add("active");

            //hide charts and display factor
            var charts = document.getElementsByClassName("chart");
            for (var i = 0; i < charts.length; i++) {
                charts[i].style.display = "none";
            }
            document.getElementById(factor).style.display = "block";
        }
    </script>


    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("drunkChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: drunkCouncils,
                datasets: [{
                    label: 'Awareness',
                    data: drunkScores,
                    backgroundColor: 'rgba(255, 99, 132)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById("speedingChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: speedingCouncils,
                datasets: [{
                    label: 'Awareness',
                    data: speedingScores,
                    backgroundColor: 'rgba(255, 99, 132)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById("distractionChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: distractionCouncils,
                datasets: [{
                    label: 'Awareness',
                    data: distractionScores,
                    backgroundColor: 'rgba(255, 99, 132)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById("fatigueChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: fatigueCouncils,
                datasets: [{
                    label: 'Awareness',
                    data: fatigueScores,
                    backgroundColor: 'rgba(255, 99, 132)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById("generalChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: generalCouncils,
                datasets: [{
                    label: 'Awareness',
                    data: generalScores,
                    backgroundColor: 'rgba(255, 99, 132)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>
