body {
    margin:auto;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background-q2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.title {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(0,0,0);
}

.question {
    padding: 50px;
    font-size: 22px;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0 40px 0;
    color: #000;
}

.option {
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255,255,255,1);
    margin: 40px 0 40px 0px;
    color: #000;
    border-radius: 20px;
}

    .option:hover {
        filter: blur(4px);
        filter: brightness(60%);
    }

.next-btn {
    border: none;
    outline: none;
    background: rgba(255,255,255,0.5);
    width: 200px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

    .next-btn:hover {
        background: #fff;
        color: #000;
    }


.result {
    padding: 350px;
    text-transform: uppercase;
    height: 100px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}


.option input:checked .option {
    background: #000;
    color: #000;
}

.explanation {
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    display: none;
    position: fixed;
    z-index: 1;
    border-radius: 10px;
    height: 40%;
    overflow: auto;
    top: 45%;
    background-color: rgba(176, 224, 230, 0.95);
    text-align: center;
    animation-name: modalOpen;
}

.explanation-btn {
    border: none;
    outline: none;
    background: rgba(255,255,255,0.5);
    width: 200px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

    .explanation-btn:hover {
        background: #fff;
        color: #000;
    }

.challengeProgress {
    color: white;
}

.continue-btn {
    border: none;
    outline: none;
    background: rgba(255,255,255,1);
    width: 150px;
    height: 30px;
    cursor: pointer;
    align-content: center;
    margin: 10px;
}

.continue:hover {
    background: #fff;
    color: #000;
}
